<div class="cover">
	<div class="title lead">
		<h1>Ride the Great Allegheny Passage and <br/> C&amp;O Canal Towpath</h1>
	</div>
	<div class="lead">
		<div class="text-center">
			<%= link_to "Plan my trip!", new_itinerary_path, method: :get, class: "btn btn-lg btn-primary" %>
		</div>
	</div>

</div>